  <script>
   $(function() {
       $('#edit').editable({
        inlineMode: false,
        buttons: ['bold','italic','underline','formatBlock','sep','insertUnorderedList','blockstyle','indent','outdent','sep','createLink','undo','redo']
      })
   });
  </script>

<%= form_for @post, :html => {:multipart => true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "title", placeholder: "Post Title..." %>
    <%= f.label :body %>
    <%= f.text_area :body, id: "edit" %>
  </div>
  <div class="field">
    <%= f.label :category1 %>
    <%= f.text_field :category1 %>
  </div>
  <div class="field">
    <%= f.label :category2 %>
    <%= f.text_field :category2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
